@use '@porsche-design-system/components-js/styles' as *;
@use './_grid-productive.scss' as *;

#app {
  @include pds-grid-productive;

  // The following styles are needed for visualization purposes only
  & > header {
    background: #D1FBC6;
  }

  & > aside {
    background: #FFBEBE;
  }

  & > main {
    background: #BED0FF;
  }

  & > footer {
    background: #F7C6FB;
  }

  & > [data-label]::before {
    content: attr(data-label);
    display: inline-block;
    background: rgba(255,255,255,.5);
    padding: $pds-spacing-static-x-small $pds-spacing-static-small;
    border-radius: $pds-border-radius-small;
  }
}

.module {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $pds-spacing-fluid-medium;
  background: #FFF;

  &--full {
    grid-column: $pds-grid-productive-span-full;
  }

  &--one-half {
    grid-column: $pds-grid-productive-span-one-half;
  }

  &--one-third {
    grid-column: $pds-grid-productive-span-one-third;
  }

  &--two-thirds {
    grid-column: $pds-grid-productive-span-two-thirds;
  }
}
