@use '@porsche-design-system/components-js/styles' as *;

$pds-grid-productive-span-full: var(--pds-grid-span-full);
$pds-grid-productive-span-one-half: var(--pds-grid-span-one-half);
$pds-grid-productive-span-one-third: var(--pds-grid-span-one-third);
$pds-grid-productive-span-two-thirds: var(--pds-grid-span-two-thirds);
$pds-grid-productive-min-width: 320px;
$pds-grid-productive-max-width: 2560px;
$pds-grid-productive-gap: clamp(16px, 1.25vw + 12px, 24px);
$pds-grid-productive-sidebar-width: clamp(240px, 187px + 6.8966vw, 320px);

@mixin pds-grid-productive {
  display: grid;
  grid-template-areas:
    "header"
    "left-sidebar"
    "main"
    "right-sidebar"
    "footer";
  min-width: $pds-grid-productive-min-width;
  max-width: $pds-grid-productive-max-width;
  min-height: 100dvh;
  overflow: hidden;

  @include pds-media-query-min('s') {
    grid-template: auto minmax(0, 1fr) auto / auto minmax(0, 1fr) auto;
    grid-template-areas:
    "header header header"
    "left-sidebar main right-sidebar"
    "left-sidebar footer right-sidebar";
  }

  & > :is(header, aside, main, footer) {
    padding: $pds-grid-productive-gap;
    box-sizing: border-box;
  }

  & > header {
    grid-area: header;
  }

  & > aside {
    transition: margin $pds-motion-duration-moderate $pds-motion-easing-base, transform $pds-motion-duration-moderate $pds-motion-easing-base;
  }

  & > aside:first-of-type {
    grid-area: left-sidebar;

    @include pds-media-query-max('s') {
      position: fixed;
      inset: 0;

      &:not([data-open]) {
        transform: translateX(-100%);
      }
    }

    @include pds-media-query-min('s') {
      width: var(--pds-grid-sidebar-left-width, $pds-grid-productive-sidebar-width);

      &:not([data-open]) {
        margin-inline-start: calc(var(--pds-grid-sidebar-left-width, $pds-grid-productive-sidebar-width) * -1);
      }
    }
  }

  & > aside:last-of-type {
    grid-area: right-sidebar;

    @include pds-media-query-max('s') {
      position: fixed;
      inset: 0;

      &:not([data-open]) {
        transform: translateX(100%);
      }
    }

    @include pds-media-query-min('s') {
      width: var(--pds-grid-sidebar-right-width, $pds-grid-productive-sidebar-width);

      &:not([data-open]) {
        margin-inline-end: calc(var(--pds-grid-sidebar-left-width, $pds-grid-productive-sidebar-width) * -1);
      }
    }
  }

  & > main {
    grid-area: main;
    --pds-grid-span-full: span 6;
    --pds-grid-span-one-half: span 3;
    --pds-grid-span-one-third: span 2;
    --pds-grid-span-two-thirds: span 4;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: $pds-grid-productive-gap;
    align-content: flex-start;

    @include pds-media-query-min('s') {
      --pds-grid-span-full: span 12;
      --pds-grid-span-one-half: span 6;
      --pds-grid-span-one-third: span 4;
      --pds-grid-span-two-thirds: span 8;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }

  & > footer {
    grid-area: footer;
  }
}
