@use '@porsche-design-system/components-js/styles' as *;
@use '../global' as *;

* {
  box-sizing: border-box;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hero {
  @include pds-grid;
  grid-row-gap: 0;

  &__media {
    position: relative;
    grid-column: $pds-grid-full-column-start / $pds-grid-full-column-end;
    grid-row: 1 / 3;

    img {
      display: block;
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      height: 30vh;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(rgba(0, 0, 0, 0), $pds-theme-dark-background-base);
    }
  }

  &__header {
    margin-bottom: 6rem;
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
    grid-row: 2;
    z-index: 1;
  }
}

.order {
  @include pds-grid;
  background-color: $pds-theme-dark-background-base;
  row-gap: $pds-spacing-fluid-x-large;
  padding-bottom: $pds-spacing-fluid-x-large;

  &__section {
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-static-medium;
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
  }

  .box {
    background-color: $pds-theme-dark-background-surface;
    border-radius: $pds-border-radius-large;
    padding: $pds-spacing-static-large;
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-static-large;
  }

  .voucher {
    &__selects {
      display: flex;
      gap: $pds-spacing-fluid-small;

      @include pds-media-query-max('m') {
        flex-direction: column;
      }

      p-select {
        --p-select-background-color: $pds-theme-dark-background-surface;
        width: 100%;
      }
    }

    &__input {
      display: flex;
      align-items: center;
      background-color: $pds-theme-dark-background-base;
      position: relative;
      p-text:first-child, p-text:last-child {
        position: absolute;
        width: 100%;
        pointer-events: none;
      }
      p-text:first-child {
        top: $pds-spacing-fluid-medium;
      }
      p-text:last-child {
        font-size: $pds-font-size-display-small;
        top: calc($pds-spacing-fluid-x-large + $pds-font-line-height);
      }
      input {
        all: unset;
        padding: $pds-spacing-fluid-x-large 50% $pds-spacing-fluid-x-large 0;
        border: 2px solid $pds-theme-dark-contrast-medium;
        border-radius: $pds-border-radius-medium;
        text-align: right;
        width: 100%;
        color: $pds-theme-dark-primary;
        font-size: $pds-font-size-display-small;
        line-height: $pds-font-line-height;
        transition: border-color $pds-motion-duration-short $pds-motion-easing-base;
        &:focus, &:hover {
          border-color: $pds-theme-dark-primary;
        }
        &::-webkit-inner-spin-button {
          appearance: none;
        }
      }
      input[type=number] {
        -moz-appearance: textfield;
      }
      p-display {
        font-size: $pds-font-size-display-small;
        line-height: $pds-font-line-height;
        padding: 2px 0;
        white-space: nowrap;
        position: absolute;
        top: $pds-spacing-fluid-x-large;
        left: 50%;
        pointer-events: none;
      }
    }
  }

  .condition {
    display: flex;
    gap: $pds-spacing-static-small;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * $pds-motion-duration-short !important;
      }
    }
  }

  .submit {
    align-items: center;
    p-button {
      width: 100%;
    }
    a {
      color: $pds-theme-dark-contrast-medium;
      text-decoration: underline;
      @include pds-text-small();
      @include pds-hover();
      @include pds-focus();
    }
  }
}

.redeem {
  margin: $pds-spacing-fluid-xx-large 0;

  &__container {
    display: flex;
    justify-content: center;
    gap: $pds-spacing-fluid-x-large;
    margin-top: $pds-spacing-fluid-x-large;
    @include pds-media-query-max('s') {
      flex-direction: column;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $pds-spacing-static-large;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * $pds-motion-duration-short !important;
      }
    }
  }
}

.fuel {
  @include pds-grid();
  p-heading {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
  }
  p-text {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
  }
}

// footer will be implemented later
.footer {

}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-animation="fade-in-up"] {
  opacity: 0;
  transform: translateY(100px);
}
[data-animation="fade-in-up"].animation-play {
  animation: fade-in-up $pds-motion-duration-long $pds-motion-easing-out forwards;
}

@keyframes tile-fade-in-up {
  0% {
    opacity: 0.3;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-animation="tile-fade-in-up"] {
  opacity: 0.3;
  transform: translateY(20px);
}
[data-animation="tile-fade-in-up"].animation-play {
  animation: tile-fade-in-up $pds-motion-duration-long $pds-motion-easing-out forwards;
  animation-delay: $pds-motion-duration-short;
}

@keyframes model-signature-fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
