@use '@porsche-design-system/components-js/styles' as *;

#app {
  @include pds-grid;
}

.overview {
  grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
