@use '@porsche-design-system/components-js/styles' as *;

.layout {
  @include pds-grid;
  & {
    min-height: 100vh;
    grid-template-rows: auto minmax(0, 1fr);
  }

  &__header {
    grid-area: 1 / $pds-grid-wide-column-start / auto / $pds-grid-wide-column-end;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    gap: $pds-spacing-fluid-small;
    align-items: center;
    margin-top: $pds-spacing-fluid-medium;

    @include pds-media-query-min('m') {
      grid-column-end: span 11;
    }

    p-link-pure {
      justify-self: flex-start;
      padding: $pds-spacing-static-x-small;
      margin-inline-start: calc(#{$pds-spacing-static-x-small} * -1);
    }

    p-wordmark {
      @include pds-media-query-max('s') {
        display: none;
      }
    }

    p-crest {
      @include pds-media-query-min('s') {
        display: none;
      }
    }
  }

  &__main {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-fluid-large;
    margin: $pds-spacing-fluid-medium 0 $pds-spacing-fluid-x-large;

    @include pds-media-query-min('m') {
      grid-area: 2 / $pds-grid-basic-column-start / auto / span 7;
    }
  }

  &__aside {
    grid-area: 2 / $pds-grid-basic-column-start / auto / $pds-grid-basic-column-end;
    display: flex;
    justify-content: center;
    background: $pds-theme-light-background-surface;
    margin: 0 calc(#{$pds-grid-basic-offset-base} * -1);
    padding: $pds-spacing-fluid-large $pds-grid-basic-offset-base;

    @include pds-media-query-min('s') {
      margin: 0 calc(#{$pds-grid-basic-offset-s} * -1);
      padding: $pds-spacing-fluid-large $pds-grid-basic-offset-s;
    }

    @include pds-media-query-min('m') {
      grid-area: 2 / span 6 / 3 / $pds-grid-full-column-end;
      margin: 0;
      padding: $pds-spacing-fluid-medium $pds-spacing-fluid-medium $pds-spacing-fluid-x-large;
    }
  }

  &::before {
    @include pds-media-query-min('m') {
      content: "";
      grid-area: 1 / span 6 / 3 / $pds-grid-full-column-end;
      background: $pds-theme-light-background-surface;
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  gap: $pds-spacing-fluid-medium;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-fluid-small;

    &__actions {
      display: flex;
      flex-direction: column;
      gap: $pds-spacing-fluid-small;
      margin-top: $pds-spacing-fluid-small;

      @include pds-media-query-min('xs') {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-fluid-medium;
  }

  &__divider {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) auto minmax(0px, 1fr);
    align-items: center;

    span {
      @include pds-text-x-small;
      & {
        text-transform: uppercase;
        padding: 0 $pds-spacing-fluid-medium;
      }
    }
  }
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: $pds-spacing-fluid-large;

  &__section {
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-fluid-medium;
  }

  &__heading {
    display: flex;
    gap: $pds-spacing-fluid-small;
    justify-content: space-between;
    align-items: center;

    &--disabled {
      color: $pds-theme-light-contrast-medium;
    }

    h2 {
      @include pds-heading-large;
      & {
        margin: 0; // ua-style reset
      }
    }
  }

  &__checkboxes,
  &__radio-buttons,
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-fluid-small;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-fluid-small;

    @include pds-media-query-min('xs') {
      flex-direction: row;

      p-text-field-wrapper {
        flex-grow: 1;
      }
    }
  }
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: $pds-spacing-fluid-medium;
  width: min(30rem, 100%);

  &__products {
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-fluid-small;

    a {
      @include pds-text-small;
      @include pds-hover;
      @include pds-focus;
      & {
        color: $pds-theme-light-primary;
        display: grid;
        grid-template-columns: 4rem minmax(0, 1fr) auto;
        gap: $pds-spacing-fluid-small;
        align-items: center;
        margin: 0 calc(#{$pds-spacing-fluid-small} * -1);
        padding: $pds-spacing-fluid-x-small $pds-spacing-fluid-small;
        text-decoration: none;
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      span:first-of-type {
        display: flex;
        flex-direction: column;
        @include pds-text-x-small;

        b {
          font-weight: $pds-font-weight-semi-bold;
        }

        span {
          @include pds-text-xx-small;
        }
      }
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: $pds-spacing-fluid-x-small;

    div {
      display: flex;
      gap: $pds-spacing-fluid-small;
      justify-content: space-between;

      &:last-child {
        margin-top: $pds-spacing-fluid-small;
      }
    }
  }
}
