<header class="col-wide grid grid-cols-subgrid gap-y-0">
  <div class="col-wide grid grid-cols-[minmax(0,1fr)_auto_minmax(0,1fr)] gap-fluid-md items-center min-h-[80px]">
    <div class="flex flex-wrap gap-static-md items-center justify-start">
      <nav aria-label="Main">
        <p-button-pure
          id="nav-button"
          class="p-static-xs -m-static-xs"
          type="button"
          icon="menu-lines"
          hide-label="{base: true, s: false}"
          aria="{'aria-haspopup': 'dialog'}"
        >
          Menu
        </p-button-pure>
        <p-drilldown id="nav-drilldown">
          <p-drilldown-item identifier="id-1" label="Some Label (1)">
            <p-drilldown-item identifier="id-1-1" label="Some Label (1-1)">
              <p-drilldown-link href="#">Some anchor (1-1)</p-drilldown-link>
              <p-drilldown-link href="#">Some anchor (1-1)</p-drilldown-link>
            </p-drilldown-item>
            <p-drilldown-link href="#">Some anchor (1)</p-drilldown-link>
            <p-drilldown-link href="#">Some anchor (1)</p-drilldown-link>
            <p-drilldown-link href="#">Some anchor (1)</p-drilldown-link>
          </p-drilldown-item>
          <p-drilldown-item identifier="id-2" label="Some Label (2)">
            <p-drilldown-link href="#">Some anchor (2)</p-drilldown-link>
            <p-drilldown-link href="#">Some anchor (2)</p-drilldown-link>
            <p-drilldown-link href="#">Some anchor (2)</p-drilldown-link>
          </p-drilldown-item>
          <p-drilldown-item identifier="id-3" label="Some Label (3)">
            <p-drilldown-link href="#">Some anchor (3)</p-drilldown-link>
            <p-drilldown-link href="#">Some anchor (3)</p-drilldown-link>
          </p-drilldown-item>
        </p-drilldown>
      </nav>
      <p-button-pure
        class="p-static-xs -m-static-xs sm:hidden"
        title="Search"
        type="button"
        icon="search"
        hide-label="true"
      >
        Search
      </p-button-pure>
    </div>
    <p-crest class="sm:hidden" href="#"></p-crest>
    <p-wordmark class="max-sm:hidden" href="#"></p-wordmark>
    <div class="flex flex-wrap gap-static-md items-center justify-end">
      <p-link-pure
        class="p-static-xs -m-static-xs"
        title="Saved Searches"
        href="#"
        icon="star"
        hide-label="true"
      >
        Saved Searches
      </p-link-pure>
      <p-link-pure
        class="p-static-xs -m-static-xs"
        title="Saved Vehicles"
        href="#"
        icon="bookmark"
        hide-label="true"
      >
        Saved Vehicles
      </p-link-pure>
      <p-button-pure
        class="p-static-xs -m-static-xs"
        title="Account"
        type="button"
        icon="user"
        hide-label="true"
      >
        Account
      </p-button-pure>
    </div>
  </div>
</header>
