@use '@porsche-design-system/components-js/styles' as *;

.header {
  position: absolute;
  top: $pds-spacing-fluid-medium;
  left: $pds-grid-wide-offset-base;
  right: $pds-grid-wide-offset-base;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  row-gap: $pds-spacing-fluid-medium;
  align-items: center;

  @include pds-media-query-min('s') {
    left: $pds-grid-wide-offset-s;
    right: $pds-grid-wide-offset-s;
  }

  @include pds-media-query-min('xxl') {
    left: $pds-grid-wide-offset-xxl;
    right: $pds-grid-wide-offset-xxl;
  }

  &__part {
    display: flex;

    &--start {
      justify-content: flex-start;
    }

    &--end {
      justify-content: flex-end;
    }
  }

  &__wordmark {
    @include pds-media-query-max('s') {
      display: none;
    }
  }

  &__crest {
    @include pds-media-query-min('s') {
      display: none;
    }
  }

  &__button,
  &__link {
    padding: $pds-spacing-static-x-small $pds-spacing-static-small;

    &--favorites {
      @include pds-media-query-max('xs') {
        display: none;
      }
    }
  }

  &__categories {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    column-gap: $pds-spacing-fluid-medium;
    row-gap: $pds-spacing-fluid-small;
    white-space: nowrap;

    @include pds-media-query-max('s') {
      display: none;
    }
  }
}

.teaser {
  @include pds-grid;
  display: grid;
  row-gap: $pds-spacing-fluid-x-large;
  background: $pds-theme-dark-background-base;

  &__media {
    grid-column: $pds-grid-full-column-start / $pds-grid-full-column-end;
    grid-row: 1 / 3;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__header {
    margin-top: max(105vw, 336px); // limit margin <=320px
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: $pds-spacing-fluid-medium;

    @include pds-media-query-min('xs') {
      margin-top: min(40vw, 1024px); // limit margin >=2560px
    }
  }

  &__content {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
    grid-row: 2;
    display: grid;
    row-gap: $pds-spacing-fluid-x-large;
    margin-bottom: $pds-spacing-fluid-xx-large;
  }
}

.trending-products {
  @include pds-grid;
  row-gap: $pds-spacing-fluid-large;
  margin: $pds-spacing-fluid-xx-large 0;

  &__header {
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
    row-gap: $pds-spacing-fluid-small;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
    display: grid;
    gap: $pds-grid-gap;

    @include pds-media-query-min('s') {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    // no PDS component available for link-tile-product yet
    .link-tile-product {
      @include pds-skeleton('light');
      aspect-ratio: 1 / 1;

      @include pds-media-query-min('xs') {
        aspect-ratio: 4 / 3;
      }

      @include pds-media-query-min('s') {
        aspect-ratio: 3 / 4;
      }
    }
  }
}

.shop-the-look {
  margin: $pds-spacing-fluid-xx-large 0;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $pds-spacing-fluid-large;
    padding-bottom: $pds-spacing-fluid-x-large;
  }
}

.collection {
  @include pds-grid;
  background: $pds-theme-dark-background-base;
  row-gap: $pds-spacing-fluid-x-large;

  &__media {
    grid-column: $pds-grid-full-column-start / $pds-grid-full-column-end;
    grid-row: 1 / 4;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__header {
    margin-top: min(1024px, 40vw); // limit margin >=2560px
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: $pds-spacing-fluid-medium;
  }

  &__content {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
    grid-row: 2;
  }

  &__footer {
    margin-bottom: $pds-spacing-fluid-xx-large;
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
    grid-row: 3;
    display: flex;
    justify-content: center;
  }
}

.stories {
  @include pds-grid;
  margin: $pds-spacing-fluid-xx-large 0;

  &__header {
    grid-column: $pds-grid-narrow-column-start / $pds-grid-narrow-column-end;
  }

  &__content {
    grid-column: $pds-grid-basic-column-start / $pds-grid-basic-column-end;
    display: grid;
    gap: $pds-spacing-fluid-medium;

    @include pds-media-query-min('s') {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      :nth-child(1) {
          grid-column: span 2;
      }
    }
  }
}

// footer will be implemented later
.footer {
  @include pds-skeleton('light');
  height: 500px;
}
