@use '@porsche-design-system/components-js/styles' as *;
@use "tailwindcss" as *;

@theme {
  --breakpoint-xs: #{$pds-breakpoint-xs}px;
  --breakpoint-sm: #{$pds-breakpoint-s}px;
  --breakpoint-md: #{$pds-breakpoint-m}px;
  --breakpoint-lg: #{$pds-breakpoint-l}px;
  --breakpoint-xl: #{$pds-breakpoint-xl}px;
  --breakpoint-2xl: #{$pds-breakpoint-xxl}px;

  --color-primary: #{$pds-theme-light-primary};
  --color-background-base: #{$pds-theme-light-background-base};
  --color-background-surface: #{$pds-theme-light-background-surface};
  --color-background-shading: #{$pds-theme-light-background-shading};
  --color-background-frosted: #{$pds-theme-light-background-frosted};
  --color-contrast-low: #{$pds-theme-light-contrast-low};
  --color-contrast-medium: #{$pds-theme-light-contrast-medium};
  --color-contrast-high: #{$pds-theme-light-contrast-high};
  --color-notification-success: #{$pds-theme-light-notification-success};
  --color-notification-success-soft: #{$pds-theme-light-notification-success-soft};
  --color-notification-warning: #{$pds-theme-light-notification-warning};
  --color-notification-warning-soft: #{$pds-theme-light-notification-warning-soft};
  --color-notification-error: #{$pds-theme-light-notification-error};
  --color-notification-error-soft: #{$pds-theme-light-notification-error-soft};
  --color-notification-info: #{$pds-theme-light-notification-info};
  --color-notification-info-soft: #{$pds-theme-light-notification-info-soft};
  --color-state-hover: #{$pds-theme-light-state-hover};
  --color-state-active: #{$pds-theme-light-state-active};
  --color-state-focus: #{$pds-theme-light-state-focus};
  --color-state-disabled: #{$pds-theme-light-state-disabled};

  --font-porsche-next: #{$pds-font-family};

  --font-weight-regular: #{$pds-font-weight-regular};
  --font-weight-semi-bold: #{$pds-font-weight-semi-bold};
  --font-weight-bold: #{$pds-font-weight-bold};

  --leading-normal: #{$pds-font-line-height};

  --text-2xs: #{$pds-font-size-text-xx-small};
  --text-2xs--line-height: #{$pds-font-line-height};
  --text-xs: #{$pds-font-size-text-x-small};
  --text-xs--line-height: #{$pds-font-line-height};
  --text-base: #{$pds-font-size-text-small};
  --text-base--line-height: #{$pds-font-line-height};
  --text-sm: #{$pds-font-size-text-small};
  --text-sm--line-height: #{$pds-font-line-height};
  --text-md: #{$pds-font-size-text-medium};
  --text-md--line-height: #{$pds-font-line-height};
  --text-lg: #{$pds-font-size-text-large};
  --text-lg--line-height: #{$pds-font-line-height};
  --text-xl: #{$pds-font-size-text-x-large};
  --text-xl--line-height: #{$pds-font-line-height};

  --spacing-xs: #{$pds-spacing-fluid-x-small};
  --spacing-sm: #{$pds-spacing-fluid-small};
  --spacing-md: #{$pds-spacing-fluid-medium};
  --spacing-lg: #{$pds-spacing-fluid-large};
  --spacing-xl: #{$pds-spacing-fluid-x-large};
  --spacing-2xl: #{$pds-spacing-fluid-xx-large};

  --spacing-fluid-xs: #{$pds-spacing-fluid-x-small};
  --spacing-fluid-sm: #{$pds-spacing-fluid-small};
  --spacing-fluid-md: #{$pds-spacing-fluid-medium};
  --spacing-fluid-lg: #{$pds-spacing-fluid-large};
  --spacing-fluid-xl: #{$pds-spacing-fluid-x-large};
  --spacing-fluid-2xl: #{$pds-spacing-fluid-xx-large};

  --spacing-static-xs: #{$pds-spacing-static-x-small};
  --spacing-static-sm: #{$pds-spacing-static-small};
  --spacing-static-md: #{$pds-spacing-static-medium};
  --spacing-static-lg: #{$pds-spacing-static-large};
  --spacing-static-xl: #{$pds-spacing-static-x-large};
  --spacing-static-2xl: #{$pds-spacing-static-xx-large};

  --max-width-prose: 85ch;

  --radius-sm: #{$pds-border-radius-small};
  --radius-md: #{$pds-border-radius-medium};
  --radius-lg: #{$pds-border-radius-large};

  --default-border-width: #{$pds-border-width-base};
  --border-width-thin: #{$pds-border-width-thin};
  --border-width-base: #{$pds-border-width-base};

  --default-outline-width: #{$pds-border-width-base};

  --default-transition-timing-function: #{$pds-motion-easing-base};
  --default-transition-duration: #{$pds-motion-duration-moderate};

  --animate-fade-in: #{$pds-motion-duration-short} fade-in #{$pds-motion-easing-base} forwards;

  --ai-gradient: to bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.013) 8.1%, hsla(0, 0%, 100%, 0.049) 15.5%, hsla(0, 0%, 100%, 0.104) 22.5%, hsla(0, 0%, 100%, 0.175) 29%, hsla(0, 0%, 100%, 0.259) 35.3%, hsla(0, 0%, 100%, 0.352) 41.2%, hsla(0, 0%, 100%, 0.45) 47.1%, hsla(0, 0%, 100%, 0.55) 52.9%, hsla(0, 0%, 100%, 0.648) 58.8%, hsla(0, 0%, 100%, 0.741) 64.7%, hsla(0, 0%, 100%, 0.825) 71%, hsla(0, 0%, 100%, 0.896) 77.5%, hsla(0, 0%, 100%, 0.951) 84.5%, hsla(0, 0%, 100%, 0.987) 91.9%, hsl(0, 0%, 100%) 100%;
  --ai-shadow: 0 0 24px 0 rgba(0, 0, 0, .24);

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer components {
  .ai-skeleton {
    @include pds-skeleton('light');
  }

  .ai-button {
    @apply fixed end-md bottom-md cursor-pointer shadow-(--ai-shadow) p-[15px] rounded-[50%] bg-background-base transition hover:bg-state-hover focus-visible:outline outline-state-focus outline-offset-2;
  }

  .ai-popover {
    @apply fixed inset-auto end-md w-[min(25rem,480px)] h-[min(75vh,720px)] p-static-md box-border overflow-y-auto font-porsche-next text-base text-primary rounded-lg bg-background-base shadow-(--ai-shadow) animate-fade-in;
    bottom: calc(#{$pds-spacing-static-medium} + #{$pds-spacing-fluid-medium} + 15px * 2 + 1.5rem);
    max-width: calc(100vw - 2 * #{$pds-spacing-fluid-medium});
    max-height: calc(100vh - 2 * #{$pds-spacing-fluid-medium} - #{$pds-spacing-static-medium} - 15px * 2 - 1.5rem);
  }

  .ai-header {
    @apply sticky top-0 inline-flex gap-static-sm z-1;
  }

  .ai-footer {
    @apply sticky -bottom-static-md -m-static-md p-static-md mt-0 pt-0 z-2 grid gap-sm;
    &::before {
      @apply content-[''] absolute inset-[-140px_0_-.1px] -z-1 pointer-events-none bg-linear-(--ai-gradient);
    }
  }

  .ai-form {
    @apply grid grid-cols-[auto_minmax(0,1fr)_repeat(2,auto)] gap-x-static-md gap-y-static-sm items-center p-static-sm bg-background-surface rounded-md focus-within:outline outline-contrast-medium;
  }

  .ai-input {
    @apply [field-sizing:content] py-[15px] [max-block-size:4.5rlh] [font:inherit] outline-none resize-none;
  }

  .ai-upload {
    @apply ms-static-xs p-[2px] cursor-pointer rounded-sm transition hover:bg-state-hover focus-visible:outline outline-state-focus outline-offset-[-2px];
  }

  .ai-icon {
    @apply p-[6px] bg-primary rounded-md;
  }

  .ai-question {
    @apply justify-self-end max-w-4/5 p-sm bg-background-surface rounded-lg rounded-ee-none grid gap-sm animate-fade-in;
  }

  .ai-answer {
    @apply grid gap-x-static-md grid-cols-[auto_minmax(0,1fr)] animate-fade-in;
  }

  .ai-cta {
    @apply grid grid-cols-[auto_minmax(0,1fr)] gap-x-static-md items-center cursor-pointer text-start rounded-lg -m-static-xs p-static-xs transition hover:bg-background-frosted focus-visible:outline outline-state-focus;
  }

  .ai-card {
    @apply flex gap-static-md items-center border-thin border-contrast-low rounded-md p-sm transition hover:bg-state-hover focus-visible:outline outline-state-focus outline-offset-2;
  }
}
