@use '@porsche-design-system/components-js/styles' as *;

/**
 * utility classes
 */

// fluid spacings
.-p-mt-xs-fluid {
  margin-top: $pds-spacing-fluid-x-small;
}
.-p-mt-s-fluid {
  margin-top: $pds-spacing-fluid-small;
}
.-p-mt-m-fluid {
  margin-top: $pds-spacing-fluid-medium;
}
.-p-mt-l-fluid {
  margin-top: $pds-spacing-fluid-large;
}
.-p-mt-xl-fluid {
  margin-top: $pds-spacing-fluid-x-large;
}
.-p-mt-xxl-fluid {
  margin-top: $pds-spacing-fluid-xx-large !important;
}

// static spacings
.-p-mt-xs-static {
  margin-top: $pds-spacing-static-x-small;
}
.-p-mt-s-static {
  margin-top: $pds-spacing-static-small;
}
.-p-mt-m-static {
  margin-top: $pds-spacing-static-medium;
}
.-p-mt-l-static {
  margin-top: $pds-spacing-static-large;
}
.-p-mt-xl-static {
  margin-top: $pds-spacing-static-x-large;
}
.-p-mt-xxl-static {
  margin-top: $pds-spacing-static-xx-large;
}
