@use '@porsche-design-system/components-js/styles' as *;

.header {
  @include pds-grid;
  margin-top: $pds-spacing-fluid-medium;

  &__nav {
    grid-column: $pds-grid-wide-column-start / $pds-grid-wide-column-end;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    gap: $pds-spacing-fluid-small;
    align-items: center;
  }

  &__part {
    display: flex;
    gap: $pds-spacing-fluid-small;

    &:first-of-type {
      margin-inline-start: calc(#{$pds-spacing-static-x-small} * -1);
      justify-content: flex-start;
    }

    &:last-of-type {
      margin-inline-end: calc(#{$pds-spacing-static-x-small} * -1);
      justify-content: flex-end;
    }
  }

  p-wordmark {
    @include pds-media-query-max('s') {
      display: none;
    }
  }

  p-crest {
    @include pds-media-query-min('s') {
      display: none;
    }
  }

  p-button-pure,
  p-link-pure {
    padding: $pds-spacing-static-x-small;
  }

  &__categories {
    grid-column: $pds-grid-wide-column-start / $pds-grid-wide-column-end;
    justify-self: center;

    @include pds-media-query-max('s') {
      display: none;
    }
  }
}

.breadcrumb {
  @include pds-grid;
  margin: $pds-spacing-fluid-medium 0 0;

  ol {
    grid-column: $pds-grid-wide-column-start / $pds-grid-wide-column-end;
    list-style: "";
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li[role="presentation"] {
      padding: 0 $pds-spacing-fluid-x-small;
    }
  }
}

.product-detail {
  @include pds-grid;
  row-gap: $pds-spacing-fluid-x-large;
  margin-top: $pds-spacing-fluid-medium;

  &__gallery {
    @include pds-skeleton('light');
    grid-column: $pds-grid-extended-column-start / $pds-grid-extended-column-end;
    aspect-ratio: 4 / 3;

    @include pds-media-query-min('s') {
      grid-column: $pds-grid-extended-column-start / span 8;
      aspect-ratio: 3 / 4;
    }
  }

  &__article {
    grid-column: $pds-grid-extended-column-start / $pds-grid-extended-column-end;

    @include pds-media-query-min('s') {
      grid-column: span 6 / $pds-grid-extended-column-end;
    }

    @include pds-media-query-min('m') {
      grid-column: span 5 / $pds-grid-extended-column-end;
    }
  }

  &__header {
    :last-child {
      margin-top: $pds-spacing-fluid-small;
    }
  }

  &__color,
  &__size,
  &__footer,
  &__about {
    margin-top: $pds-spacing-fluid-medium;
    display: flex;
    flex-direction: column;
    row-gap: $pds-spacing-fluid-x-small;

    h2 {
      @include pds-heading-small;
      font-weight: $pds-font-weight-regular;
      margin: 0; // ua-style reset

      span {
        font-weight: $pds-font-weight-semi-bold;
      }
    }
  }

  &__color-swatch {
    @include pds-skeleton('light');
    height: 40px;
  }

  &__size {
    p-button-pure {
      align-self: flex-start;
    }
  }

  &__actions {
    margin-top: $pds-spacing-fluid-small;
    display: flex;
    gap: $pds-spacing-fluid-small;
  }

  &__benefits {
    list-style: "";
    margin: $pds-spacing-fluid-medium 0 0;
    padding: 0;

    li {
      @include pds-text-small;
      display: flex;
      column-gap: $pds-spacing-fluid-x-small;

      + li {
        margin-top: $pds-spacing-fluid-x-small;
      }
    }
  }

  &__reviews {
    margin-top: $pds-spacing-fluid-large;
    display: flex;
    flex-direction: column;
    row-gap: $pds-spacing-fluid-x-small;

    > div {
      @include pds-skeleton('light');
      height: 40px;
    }
  }
}

.flyout-add-to-cart {
  --p-flyout-width: 25rem;
  --p-flyout-max-width: 100%;

  img:first-of-type {
    display: block;
    width: 10rem;
    height: auto;
  }

  &__header {
    margin-top: $pds-spacing-fluid-small;
  }

  &__specs {
    margin-top: $pds-spacing-fluid-small;
  }

  p-button-group {
    margin-top: $pds-spacing-fluid-medium;
  }
}

.table-size-chart {
  margin-top: $pds-spacing-fluid-medium;

  p-table-head p-table-head-cell:first-child {
    font-size: $pds-font-size-heading-medium;
  }

  p-table-body p-table-cell[role="rowheader"] {
    font-weight: $pds-font-weight-semi-bold;
  }
}

// footer will be implemented later
.footer {
  @include pds-skeleton('light');
  margin-top: $pds-spacing-fluid-x-large;
  height: 500px;
}
